.formBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 50px;
  /* height: 80vh; */
  /* height: 100vh; */
  /* background: url("../../assets/images/loginbg.jpg"); */
  /* background-size: cover;
  background-position: center; */
}
.loginForm {
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.33);
  backdrop-filter: blur(3px);
  padding: 20px 30px 10px 30px;
  border-radius: 16px;
  margin: 10px;
  width: 450px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
  display: block;
}
/* .loginForm a {
  color: white;
} */
.loginForm a:hover {
  color: #995f20;
}

.singup{
  text-decoration: underline;
}
