.checkout-container{
  margin: 20px auto;
}

.checkout-form {
  max-width: 600px;
  margin: auto;
}

/* .summary-card {
  margin-top: 20px;
} */

.total-amount {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
