
@media (max-width: 768px) {
    .product-card .ant-card {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .product-card .ant-card {
        width: 100%;
        margin: 0 auto;
    }
}
.paginationContainer {
   margin-top: 20px;
   display: flex;
   justify-content: center;
}


.itemCardImage {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
}