.product-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding: 20px;
  background-color: #f9f9f9;
}
.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  margin: 30px 0;
}
.section-header .product-title{
  font-size: 36px;
}
.product-title{
  font-family: "Lato", sans-serif;
  text-align: center;
}
.product-description{
  font-family: "Lato", sans-serif;
}
.tab-content {
  margin-top: 20px;
}

.card-cover img {
  width: 100%;
  height: 150px; /* Adjust the height to compress the image */
  object-fit: cover;
}
.text-title {
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price .text-primary {
  color: #1890ff;
  font-weight: bold;
  margin-right: 10px;
}

.price .text-body {
  text-decoration: line-through;
  color: #888;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.position-absolute {
  position: absolute;
  /* padding: 0.25rem 0.75rem; */
  border-radius: 0.25rem;
  top: 1rem;
  left: 1rem;
  background-color: #9a5e0f;
  color: #fff;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}

.me-1 {
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  .product-container {
    text-align: center;
  }

  .section-header {
    margin: 0 auto 20px;
  }

  .section-header .ant-typography {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .section-header .product-description{
    font-size: 14px;
  }

  .card-cover img {
    height: 120px; /* Adjust the height to compress the image */
  }

  .ant-col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .ant-card {
    width: 90%; /* Adjust the card width to compress it */
    margin: 0 auto;
  }

  .actions {
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center;
  }

  .actions button {
    width: 100%; /* Make buttons take full width */
    margin-bottom: 8px; /* Add some space between buttons */
  }

  .actions button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
  }
}

@media (max-width: 480px) {

  .section-header .ant-typography {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .section-header .product-description{
    font-size: 14px;
  }

  .ant-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-cover img {
    height: 100px; /* Adjust the height to compress the image */
  }

  .ant-card {
    width: 80%; /* Adjust the card width to compress it */
    margin: 0 auto;
  }
}

.ant-card-cover {
  position: relative;
}

.card-img {
  width: 100%;
  height: 250px; /* Set your desired height */
  object-fit: cover; /* Ensures the image covers the area */
  border-top-left-radius: 8px; /* Match the card's border radius */
  border-top-right-radius: 8px; /* Match the card's border radius */
}

.card-body {
  padding: 16px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
