body,html{
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: #f0f2f5;
  /* position: relative; */
}

.login-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* background: #fff; */
  /* padding: 20px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  max-width: 700px;
  width: 100%;
  /* position: absolute; */
}

.login-image {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background: #e6f7ff; */
  border-radius: 10px 0 0 10px;
}

.login-image img {
  max-width: 80%;
  max-width: 300px;
  border-radius: 10px;
}

.login-description {
  text-align: center;
  margin-top: 20px;
}

.login-description h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #a79b16;
}

.login-description p {
  font-size: 1em;
  color: #595959;
}

.login-form-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.outer-card{
  background: #dad387;

}
.login-form{
  width: 300px;
  margin: 0 auto;
}

.login-form h2{
  text-align: center;
  margin-bottom: 10px;
  color: #a79b16;
}

.login-form p {
  text-align: center;
  margin-bottom: 20px;
  color: #595959;
}


.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  background: #696107;
  border-color: #ddc641;
  color: white;
  margin-top: 10px;
}
.login-form-button:hover{
 background-color: #dad387;
}
.create-account-button {
  width: 100%;
  background: #e6f7ff;
  border-color: #e6f7ff;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }
  .login-image {
    border-radius: 10px 10px 0 0;
  }
  .login-form-container {
    padding: 20px;
  }
}
