.container {
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  background: #ffff;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  height: 65px; /* Adjust height to fit larger logo */
  display: flex;
  align-items: center; /* Align items vertically */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust to use full width */
  padding: 0 10px;
}

.brand img {
  height: 50px; /* Increased the logo height */
  margin-right: 10px;
  border-image: round;
  /* margin-top: 20px; */
}

.brand .brand-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.menu-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%; /*Ensure it matches the navbar height*/
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 500;
  background: #ffff;
  align-items: center; /* Ensure menu items are vertically centered */
  height: 100%; /* Ensure it matches the menu-container height */
  border: none;
}

.menu .ant-menu-item {
  display: flex;
  align-items: center; /* Center menu items vertically */
  height: 100%;
}

.menu .ant-menu-item a {
  color: #333;
  transition: color 0.3s;
  text-decoration: none;
  height: 100%; /* Ensure anchor tags take full height */
  display: flex;
  align-items: center; /* Center anchor text vertically */
}

.menu .ant-menu-item a:hover {
  color: #ab7e15;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
 
}

.icons .ant-btn {
  margin-right: 10px;
  border: none;
  background: none;
  color: #333;
  transition: color 0.3s;
  border: 1px solid darkgray;
  /* background-color: darkgray; */
}

.icons .ant-btn:hover {
  color: #1890ff;
  background-color: #d6e2f4;
}

.menu-toggle {
  display: none;
}
@media (max-width:1024px){
  .brand .brand-name{
    font-size: 16px;
  }

  .menu {
    font-size: 12px;
  }

  .brand img{
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle{
    display: block;
    margin-left: auto;
  }

  .brand {
    flex-grow: 1;
    justify-content: center;
  }

  .brand .brand-name {
    font-size: 16px;
    display: inline; /* Ensure the brand name is visible in mobile view */
  }

  .ant-drawer-header {
    background-color: #f0f2f5;
  }

  .ant-drawer-title {
    font-size: 16px;
    font-weight: 500;
  }

  .ant-drawer-close {
    color: #333;
  }

  .ant-drawer-body .ant-menu-item a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
  }

  .ant-drawer-body .ant-menu-item a:hover {
    color: #c48c1b;
    text-decoration: underline;
  }

  .icons {
    display: none;
  }
}
@media (max-width:320px) {
  .brand .brand-name{
    font-size: 14px;
  }
  .ant-drawer-title {
    font-size: 14px;
    font-weight: 500;
  }
  .ant-drawer-body .ant-menu-item a {
    color: #333;
    font-size: 12px;
    font-weight: 500;
  }
}

.quantityButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.quantityIndicator {
  position: absolute;
  bottom: -5px; /* Position the indicator at the bottom */
  right: 5px; /* Adjust as needed to center */
  background-color: rgb(170, 98, 15);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
