.organic-section {
    /* padding: 40px 0; */
    padding: 50px 20px;
    /* background-color: #f4f4f4; */
    background-color: #f0dbc7;
  }
  .img-box {
    text-align: center;
  }

  .organic-image {
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .organic-content {
    padding: 20px;
  }

  .organic-content .ant-typography {
    margin-bottom: 20px;
  }
  .organic-content .content-title{
    font-size: 36px;
  }
  .organic-list {
    list-style: none;
    padding: 0;
  }
  
  .organic-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* .icon {
    color: green;
    margin-right: 10px;
  } */
  .organic-list .icon {
    color: #aa620f;
    /* margin-right: 10px; */
    padding: 0 10px 10px 10px;
  }

  .ant-btn-primary {
    background-color: #aa620f;
    border-color: #aa620f;
  }
  
  .ant-btn-primary:hover {
    background-color: #389e0d;
    border-color: #389e0d;
  }

  @media (max-width: 1024px) {
    .organic-section {
      padding: 40px 20px;
    }
  
    .organic-content {
      padding: 15px;
    }
  
    .organic-content .ant-typography {
      margin-bottom: 15px;
    }
  
    .organic-image {
      margin: 0 auto;
      width: 80%;
    }
  }
  

   @media (max-width: 768px) {
    .organic-section {
      padding: 30px 15px;
    }
  
    .organic-content {
      padding: 10px;
      text-align: center;
    }
  
    .organic-content .ant-typography {
      margin-bottom: 10px;
      font-size: 30px;
    }
    .organic-content .content-description{
      font-size: 16px;
    }

    .organic-list .list-text{
      font-size: 16px;
    }

    .organic-list li {
      justify-content: center;
    }
  
    .organic-image {
      margin: 0 auto 20px auto;
      width: 60%;
      /* height: 50%; */
      /* margin: 0 auto; */
    }
  }

  @media (max-width: 480px) {
    .organic-section {
      padding: 20px 10px;
    }
  
    .organic-content {
      padding: 5px;
      text-align: center;
    }
  
    .organic-content .ant-typography {
      margin-bottom: 5px;
      font-size: 25px;
    }
    .organic-content .content-description{
      font-size: 14px;
    }

    .organic-list .list-text{
      font-size: 14px;
    }
  
    .organic-list li {
      justify-content: center;
    }
  
    .organic-image {
      margin: 0 auto 10px auto;
      width: 100%;
      /* margin-left: 35%; */
    }
  }